'global':
  'editor':
    'fontFamily': 'Menlo'
    'fontSize': 15
    'showIndentGuide': true
  'core':
    'disabledPackages': [
      'go-to-line'
      'background-tips'
      'autosave'
      'exception-reporting'
      'metrics'
      'language-ruby-on-rails'
    ]
    'ignoredNames': [
      '.bundle'
      '.git'
      'log'
      'repositories'
      'tmp'
    ]
    'themes': [
      'atom-dark-ui'
      'solarized-dark-syntax'
    ]
    'hideGitIgnoredFiles': true
    'useReactEditor': true
  'spell-check':
    'grammars': [
      'source.gfm'
      'text.git-commit'
      'text.plain'
    ]
  'markdown-preview':
    'grammars': [
      'source.gfm'
      'source.litcoffee'
      'text.plain'
      'text.plain.null-grammar'
    ]
  'welcome':
    'showOnStartup': false
  'release-notes':
    'viewedVersion': '0.95.0'
  'tree-view':
    'hideVcsIgnoredFiles': true
'.js.rails.source source.jquery.js':
  'editor': {}
'.rails.rjs.ruby.source':
  'editor': {}
'.rails.ruby.source':
  'editor': {}
'.html.ruby.text':
  'editor': {}
'.ruby.source.sql':
  'editor': {}
