"*":
  "autocomplete-plus":
    autoActivationDelay: 500
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "background-tips"
      "autosave"
      "metrics"
      "spell-check"
      "welcome"
      "markdown-preview"
      "language-xml"
      "language-toml"
      "language-source"
      "language-python"
      "language-property-list"
      "language-perl"
      "language-mustache"
      "language-make"
      "language-java"
      "language-go"
      "language-gfm"
      "language-clojure"
      "exception-reporting"
      "autoflow"
      "link"
      "timecop"
      "bookmarks"
      "language-csharp"
      "language-objective-c"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      ".DS_Store"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "emmet"
      "autocomplete-atom-api"
    ]
    projectHome: "/Users/joseramonc/src"
    themes: [
      "nucleus-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: true
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "f6992024-6e66-279c-64e4-816ff0307646"
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "rails-partials": {}
  "selector-to-tag":
    activeForFileTypes: [
      ".html"
      ".erb"
    ]
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view":
    hideIgnoredNames: true
    showOnRightSide: true
  welcome:
    showOnStartup: false
