'body':
  # reveal current file in tree view
  'cmd-i': 'tree-view:reveal-active-file'


  # go to line prompt
  'cmd-m': 'go-to-line:toggle'

  'cmd-shift-S': 'core:save'

  'alt-j': 'editor:move-to-previous-word-boundary'
  'alt-k': 'editor:move-to-next-word-boundary'
  'alt-shift-j': 'editor:select-to-previous-word-boundary'
  'alt-shift-k': 'editor:select-to-next-word-boundary'

  'cmd-o': 'rails-transporter:open-view'

  # remove horrible cmd-shift-o window prompt
  'cmd-shift-o': 'unset!'

'atom-workspace atom-text-editor:not([mini])':
  'cmd-j': 'unset!'


'.platform-darwin':
  'cmd-p': 'rails-transporter:open-partial-template'
  # overwrite comment keybinding
  'cmd-.': 'editor:toggle-line-comments'

  # toggle fuzzy finder
  'cmd-j': 'fuzzy-finder:toggle-file-finder'

'.platform-darwin atom-text-editor:not([mini])':
  # select text inside brackets
  'alt-d': 'bracket-matcher:select-inside-brackets'

  # join lines
  'shift-cmd-J': 'editor:join-lines'

'.tree-view':
  # reveal selected tree view file in finder
  'cmd-o': 'tree-view:show-in-file-manager'
