'body':
  # better arrows
  'alt-j': 'core:move-left'
  'alt-shift-j': 'core:select-left'

  'alt-l': 'core:move-right'
  'alt-shift-l': 'core:select-right'

  'alt-i': 'core:move-up'
  'alt-shift-i': 'core:select-up'

  'alt-k': 'core:move-down'
  'alt-shift-k': 'core:select-down'

  'alt-h': 'editor:move-to-beginning-of-screen-line'
  'alt-H': 'editor:select-to-beginning-of-line'

  'alt-;': 'editor:move-to-end-of-screen-line'
  'alt-:': 'editor:select-to-end-of-line' # alt-shift-

  "alt-'": 'editor:move-to-end-of-screen-line'
  'alt-"': 'editor:select-to-end-of-line' # alt-shift-'

  'alt-9': 'core:backspace'
  'alt-0': 'core:backspace'
  'alt--': 'core:backspace'
  'alt-=': 'core:backspace'
  'alt-o': 'core:backspace'
  'alt-O': 'editor:delete-to-beginning-of-word'

  # reveal current file in tree view
  'cmd-i': 'tree-view:reveal-active-file'

  # go to line prompt
  'cmd-m': 'go-to-line:toggle'

  'cmd-shift-S': 'core:save'

  'cmd-o': 'rails-transporter:open-view'

  # remove horrible cmd-shift-o window prompt
  'cmd-shift-o': 'unset!'

  # Disable Font size
  'cmd-=': 'unset!'
  'cmd-+': 'unset!'
  'cmd--': 'unset!'
  'cmd-_': 'unset!'
  'cmd-0': 'unset!'

  'cmd-alt-w': 'tabs:close-other-tabs'

  # Default move pane
  'cmd-k up': 'pane:split-up-and-move-active-item'
  'cmd-k down': 'pane:split-down-and-move-active-item'
  'cmd-k right': 'pane:split-right-and-move-active-item'
  'cmd-k left': 'pane:split-left-and-move-active-item'

  'cmd-k cmd-up': 'pane:split-up-and-copy-active-item'
  'cmd-k cmd-down': 'pane:split-down-and-copy-active-item'
  'cmd-k cmd-right': 'pane:split-right-and-copy-active-item'
  'cmd-k cmd-left': 'pane:split-left-and-copy-active-item'


'atom-workspace atom-text-editor:not([mini])':
  'cmd-j': 'unset!'
  'alt-h': 'unset!'

  'cmd-shift-e': 'emmet:expand-abbreviation'

  'alt-ctrl-d': 'emmet:balance-outward'

'.platform-darwin':
  'cmd-p': 'rails-transporter:open-partial-template'

  # overwrite comment keybinding
  'cmd-.': 'editor:toggle-line-comments'

  # toggle fuzzy finder
  'cmd-j': 'fuzzy-finder:toggle-file-finder'

'.platform-darwin atom-text-editor:not([mini])':
  # select text inside brackets
  'alt-d': 'emmet:balance-inward'
  'ctrl-d': 'emmet:balance-outward'
  'alt-s': 'emmet:update-tag'
  'alt-r': 'emmet:remove-tag'
  'alt-w': 'emmet:wrap-with-abbreviation'
  'cmd-e': 'emmet:expand-abbreviation'

  'cmd-shift-r': 'script:run'

  'cmd-i': 'tree-view:reveal-active-file'
  # join lines
  'shift-cmd-J': 'editor:join-lines'

  'cmd-shift-l': 'unset!'



'.tree-view':
  # reveal selected tree view file in finder
  'cmd-o': 'tree-view:show-in-file-manager'
